<main>
  <div class="container">
    <div class="main-container">
      <div class="main-content">
        <h2>What is Lorem ipsum ?</h2>
        <p id="time">{{ date }}</p>
        <img class="main-image" src="assets/image/bg.jpeg" alt="" />

        <div class="main-content-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, odit
          officiis cupiditate mollitia nulla accusamus magni porro amet quo.
          Accusantium aspernatur dolor magni quidem nisi fugit molestiae culpa
          in vitae? Delectus, deleniti placeat architecto aut aliquid unde vero
          in. Magni repellendus maiores reiciendis consequatur animi nemo
          voluptatum, nam dolor accusamus vitae harum voluptates natus minima
          pariatur asperiores autem! Blanditiis, doloremque! Saepe, tenetur
          alias temporibus magnam mollitia suscipit praesentium beatae nisi
          dignissimos et aliquid consequatur ipsum molestias eligendi
          repudiandae quas, ut aliquam itaque laboriosam minus laudantium! Vero
          voluptatum quaerat cum pariatur? Odio aspernatur cum accusamus maxime
          quibusdam?
        </div>
      </div>
      <div class="sidebar">
        <div class="sidebar-top">
          <h3>Events</h3>
          <ul class="list">
            <li class="item">
              <img
                src="assets/image/calendar_19.png"
                alt=""
                width="40px"
                height="40px"
              />
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="item">
              <img
                src="assets/image/calendar_27.png"
                alt=""
                width="40px"
                height="40px"
              />
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
            <li class="item">
              <img
                src="assets/image/calendar_7.png"
                alt=""
                width="40px"
                height="40px"
              />
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </li>
            <li class="item">
              <img
                src="assets/image/calendar_19.png"
                alt=""
                width="40px"
                height="40px"
              />
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </li>
            <li class="item">
              <img
                src="assets/image/calendar_27.png"
                alt=""
                width="40px"
                height="40px"
              />
              <p>Lorem, ipsum dolor sit. Qui, consectetur?</p>
            </li>
            <li class="item">
              <img
                src="assets/image/calendar_7.png"
                alt=""
                width="40px"
                height="40px"
              />
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo.
              </p>
            </li>
          </ul>
        </div>
        <div class="sidebar-bottom">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, aliquid
          nulla? Aspernatur, omnis cumque debitis reiciendis.
        </div>
      </div>
    </div>
  </div>
</main>
<!-- <router-outlet></router-outlet> -->
